[submodule "Engine/include/maths"]
	path = Engine/include/maths
	url = https://github.com/thebigcx/maths.git
[submodule "Engine/vendor/maths"]
	path = Engine/vendor/maths
	url = https://github.com/thebigcx/maths.git
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/thebigcx/glfw.git
