[submodule "Engine/include/maths"]
	path = Engine/include/maths
	url = https://github.com/thebigcx/maths.git
[submodule "Engine/vendor/maths"]
	path = Engine/vendor/maths
	url = https://github.com/thebigcx/maths.git
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/thebigcx/glfw.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/vendor/imguizmo"]
	path = Engine/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
